* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    /* font-family: 'Roboto', sans-serif; */
    font-family: "Poppins", sans-serif;
}

body {
    height: 100%;
    overflow-y: scroll;
    background: rgba(246, 246, 242, 1);
}

.container {
    max-width: 80%;
    padding: 34px;
    margin: auto;

}

.container h1 {
    text-align: center;
    /* font-family: 'Sriracha', cursive; */
    font-size: 40px;
    padding-bottom: 10px;
    color: rgba(44, 103, 117, 1);
}

.container h3 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    /* font-family: 'Sriracha', cursive; */
    font-size: 30px;
    color: rgba(44, 103, 117, 1);
}

p {
    font-size: 17px;
    text-align: center;
    padding-bottom: 10px;
    /* font-family: 'Sriracha', cursive; */
}

input,
textarea {
    border: 2px solid rgba(56, 128, 135, 1);
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    width: 80%;
    margin: 11px 0px;
    padding: 7px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn {
    color: white;
    background: rgba(44, 103, 117, 1);
    padding: 8px 12px;
    font-size: 20px;
    /* border: 2px solid white; */
    border-radius: 8px;
    cursor: pointer;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
}

.submitMsg {
    color: rgba(56, 128, 135, 1);
    ;
    font-size: 30px;
}

.radio-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.radio-p {
    /* margin-right: 10px; */
    padding-top: 10px;
    padding-right: 10px;
    font-weight: 400;
}

.select1 {
    padding: 8px 16px;
    /* padding-right: 10px; */
    font-size: 17px;
    border-radius: 6px;
    border: 2px solid rgba(56, 128, 135, 1);
    width: 31%;
    margin: 11px 0;
    outline: none;
}

/* @media screen and (min-width: 768px) {
    .container {
      max-width: 50%;
    }
  
    input,
    textarea {
      width: 80%;
    }
  
    .select1 {
      width: 31%;
    }
  } */