/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 1.5\rem 8%;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-between;
    background-color: rgba(56, 128, 135, 1);
}

.header .logo {
    font-size: 22px;
    font-weight: bolder;
    /* color: #fff; */
    padding-right: 10px;
    margin-right: 10rem;
    background: -webkit-linear-gradient(rgba(29, 205, 254, 1), rgba(33, 208, 179, 1), rgba(52, 245, 198, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .header .logo i{
    color: #fff;
    padding: 0.5rem;
  } */
.header .navbar a {
    font-size: 1.1rem;
    margin: 0 1rem;
    color: #fff;
}

.header .navbar a:hover {
    color: #baa6cf;
}

.header .btn {
    background: transparent;
    color: tomato;
    border: 1px solid tomato;
    font-size: 12px;
    padding: 8px;
}